@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @*<a href="https://app.powerbi.com/reportEmbed?reportId=a7b96362-c508-4816-bf38-0f7dd002c30b&autoAuth=true&ctid=f8b7487f-c421-45e8-b527-a20a363483d6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVrLXNvdXRoLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9">"
        show Power Bi</a>*@
    </div>
